Source: make-doc-non-dfsg
VCS-Git: https://salsa.debian.org/srivasta/make-doc-non-dfsg.git
VCS-Browser: https://salsa.debian.org/srivasta/make-doc-non-dfsg
Section: non-free/doc
XS-Autobuild: yes
Priority: optional
Maintainer: Manoj Srivastava <srivasta@debian.org>
Standards-Version: 4.3.0
Homepage: http://www.gnu.org/software/make/
Build-Depends: debhelper-compat (=12)
Build-Depends-Indep: texinfo, gettext, po-debconf,
      dh-autoreconf, autoconf,
      automake | automaken, autopoint, file,
      pkg-config, texlive-latex-base,
      texlive-fonts-recommended


Package: make-doc
Architecture: all
Depends: ${misc:Depends}, dpkg (>= 1.15.4) |  install-info
Replaces: make (<< 3.80+3.81.rc2-1)
Enhances: make
Description: Documentation for the GNU version of the "make" utility
 This package contains the documentation for GNU Make.  The upstream
 sources for this package are available at the location
 ftp://ftp.gnu.org/gnu/make/. This package has been stripped down to
 only contain the documentation; since the documentation is covered
 under a non-free license and thus has been moved to
 non-free/doc. Make itself remains in Debian.
Suggests: make
